<div class="container center-align">
  <div class="row">
    <div class="col s12 m7">
      <div class="card large activator">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="responsive-img activator" src="../assets/images/cFitnessBW-people.jpg">
          <span class="card-title"> Join the C Fitness Family and get into the shape of your life. </span>
        </div>
        <div class="card-content activator">
            <span class="card-title activator grey-text text-darken-4">Get a Free 3 Day VIP Pass: Click here for more.<i class="material-icons right">more_vert</i></span>
          </div>
        <div class="card-reveal">
          <div class="row">
              <span class="card-title grey-text text-darken-4">Free 3 Day VIP Pass<i class="material-icons right">close</i></span>
            <form class="col s12">
              <div class="row">
                <div class="input-field col s6">
                  <input placeholder="John" id="first_name" type="text" class="validate">
                  <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s6">
                  <input placeholder="Doe" id="last_name" type="text" class="validate">
                  <label for="last_name">Last Name</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="email" type="email" class="validate">
                  <label for="email"><i class="material-icons">email</i> Email</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="phone_number" type="tel">
                  <label for="phone_number"><i class="material-icons">phone_in_talk</i> Phone Number</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">mode_edit</i>
                  <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                  <label for="icon_prefix2">Message</label>
                </div>
              </div>
            </form>
          </div>
          <div class="card-action">
              <a href="#">Send</a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>